<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Expense Ledger</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>

<div class="container">
    <h1 class="mt-5 mb-2">Expense Ledger</h1>
    <p class="alert alert-info" th:if="${entries.isEmpty()}">No records</p>
    <div class="table-responsive" th:unless="${entries.isEmpty()}">
        <table class="table table-hover ">
            <thead>
            <tr>
                <th class="col-date">Date</th>
                <th class="col-description">Description</th>
                <th class="col-amount">RON</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="entry : ${entries}">
                <td class="col-date" th:text="${#temporals.format(entry.entryDate, 'dd-MM-yyyy')}">01-01-2026</td>
                <td class="col-description" th:text="${entry.description}">placeholder for description</td>
                <td class="col-amount" th:text="${entry.amount}">placeholder for amount</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>
